*{
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

main{
    width: 1366px;
    height: 2000px;
    
    margin: 0 auto;
}

header{
    width: 1366px;
    height: 200px;
    
    text-align: center;
}

nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(161, 148, 128);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    font-family: "IBM Plex Mono", monospace;
    transition: 1s;
    
}

nav a:hover{
    background-color: black;
    transform: scale(1.2);

}

section{
    width: 1366px;
    height: 1500px;
    background-image: url(../imagenes/blod.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

section .personaje{
    width: 1300px;
    height: 350px;
    
    margin-left: 33px;
    margin-top: 20px;
    float: left;

}

.personaje .foto{
    width: 400px;
    height: 350px;
    border-bottom: rgb(255, 0, 0) 8px solid ;
    float: left;
    text-align: center;
    margin-left: 33px;
    
}

.foto img{
    height: 100%;
}

.personaje .texto{
    width: 800px;
    height: 350px;
    background-color: rgba(255, 235, 205, 0.575);
    border-bottom: rgb(255, 0, 0) 8px solid ;
    float: left;
    padding: 20px;
    
}

footer{
    width: 1366px;
    height: 250px;
    background-color: rgb(37, 34, 34);
    
}